{% load static %}
<!--Dashboard Display-->
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="card">
            <div class="card-header bg-light text-info text-center">
              <h1>Factory System</h1>
                <div class="card-body text-center">
                    <img src="{% static 'images/empmanage.png' %}" style="height:100px;"/>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <img src="{% static 'images/newuser.png' %}" style="height:100px;"/>
                                    <h4> Add Users <i class="fas fa-users"></i></h4>

                                </div>
                            </div>
                        </a>
                   <br>
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <img src="{% static 'images/factory.png' %}" style="height:100px;"/>
                                    <h4> View All User <i class="fas fa-box"></i></h4>

                                </div>
                            </div>
                        </a>
                   <br>
                         <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <img src="{% static 'images/home.png' %}" style="height:100px;"/>
                                    <h4> Admin Home <i class="fas fa-box"></i></h4>

                                </div>
                            </div>
                        </a>
                   <br>
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <img src="{% static 'images/logout.png' %}" style="height:100px;"/>
                                    <h4> LogOut <i class="fas fa-shipping-fast"></i></h4>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End display-->