{% extends 'Transport_templates/transportationBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Transportation Management{% endblock title %}

<!-------------------------Styles------------------------->
{% block moreStyles %}



    table
    {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    }

    th
    {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    background: #f5e57f;
    }

    td
    {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: 20px;
    padding: 8px;
    }

    tr:nth-child(even)
    {
    background-color: #c5f1b8;
    }




    .regButton {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
    .regButton:hover{
    background-color: #000000;
    color: #77fd01;
    }
    .regButton3 {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

    .regButton3:hover {
    background-color: #000000;
    color: blue;
    }
    .ClassActive {
    background-color: #8db8e0;
    }

    .ClassActive {
    background-color: #8db8e0;
    }

    .ClassActive1 {
    background-color: #2292CF;
    color: white;
    }

    .container1, .container2
    {
    min-width: 500px;
    width: 90%;
    }

    .container1
    {
    margin-top: 20px;
    background-color: #F5FFED ;
    padding: 10px;
    text-align: center;
    }


    .container2
    {
    padding: 10px;
    margin-left:20px;
    }

    .container2 th
    {
    background-color:#a9afe7 ;
    }

    h2 {
    color: #082c88;
    }


{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block recordsBtn %}ClassActive{% endblock recordsBtn %}

<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Transportation Management{% endblock pageContentHeader1 %}

<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Add Vehicle Details{% endblock pageContentHeader2 %}

<!----------------------------------Hide Menues--------------------------------------->
{% block RepairMenu %}{% endblock RepairMenu %}

<!-------------------------Body Sub Menue------------------------->
{% block addVehicleBtn %}ClassActive1{% endblock addVehicleBtn %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

 <!---------------------------------Messages-------------------------------------->
    {% if messages %}
        {% for message in messages %}
            <script>alert("{{ message }}");</script>
        {% endfor %}
    {% endif %}

    <br><br>
    <!--Add Vehicle Details Form-->
    <div style="padding-left: 20px;">
        <div class="container1">

            <form action="{% url 'addVehicle' %}" method="post">
                {% csrf_token %}

                <h2><b>Add Vehicle</b></h2>
                <tr>
                    <td style="padding-bottom: 10px;"><b><label for="vehicleno" style="font-size: 20px;">Vehicle No:</label></b></td>
                    <td>&emsp;{{ Vform.vehicleForm.VehicleNo }}</td>
                </tr>



                <tr>
                    <td style="padding-bottom: 10px;"><b><label for="status" style="font-size: 20px;">Driver ID:</label></b></td>
                    <td>&emsp;{{ Vform.vehicleForm.Driverid }}</td>
                </tr>


                <tr>
                    <td></td>
                    <td>
                        <input class="regButton3" type="submit" value="ADD" >
                </tr>

            </form>



            <br><br>
        </div>
    </div>
    <br>

    <!----vehicle details table---->
    <div class="container2">
        <h2><b>Vehicle Details</b></h2><br>
        <table>
            <tr >

                <th > Vehicle No </th>
                <th>Driver ID</th>
                <th>Delete</th>

            </tr>

            {% for vehicle in AllVehicle %}
                <tr>
                    <td>{{ vehicle.VehicleNo}} </td>
                    <td>{{ vehicle.Driverid}}</td>




                    <form method="post" action=" {% url 'delete_record' %}">
                        {% csrf_token %}
                        <input type = "hidden" name="id" value="{{ vehicle.id }}"/>
                        <td><input type="submit" class = "regButton" value="Delete" onclick="if (!confirm('Are you sure You Want to Delete?.Press Ok To Confirm.')) { return false }"/>
                        </td>

                    </form>

                </tr>
            {% endfor %}




        </table>
        <br>

<!--------------Errors--------------------------------------->

        {% if Vform.vehicleForm.errors %}

            <div class="errorDisplay" style="background-color: #faff8a; color:#de2028; padding: 5px; ">
                <h3 style="font-weight: bold">{{ Vform.vehicleForm.errors }}</h3>
            </div>
        {% endif %}

    </div>



{% endblock content %}


