{% extends 'Base1.html' %}

<!-------------------------Title------------------------->
{% block title %}Employee Management{% endblock title %}


<!-------------------------Styles------------------------->
{% block headStyles %}

    {% block moreStyles %}{% endblock moreStyles %}

.ClassActive {
    background-color: #8db8e0;
}

{% endblock headStyles %}


<!-------------------------Body Menue------------------------->
{% block LinksMenuBar %}

  <div class="w3-bar-block">

{#    <a href="{% url 'final_production_home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white {% block dailyProductionBtn %}{% endblock dailyProductionBtn %}">Daily Production</a>#}

    <a href="{% url 'factoryworkers_management' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white {% block facBtn %}{% endblock facBtn %}">Factory Worker Details</a>
    <a href="{% url 'staff_management' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white {% block staffBtn %}{% endblock staffBtn %}">Staff Details</a>
    <a href="{% url 'attendance_date' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white {% block attendanceBtn %}{% endblock attendanceBtn %}">Attendance</a>
    <br>
    <a href="http://127.0.0.1:8000/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white}">Back To HOME</a>

  </div>

{% endblock LinksMenuBar %}


<!-------------------------Page Content Header------------------------->

{% block pageContentHeader %}

  <!------------------------------------- Header ----------------------------->

  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>{% block pageContentHeader1 %}Employee Management{% endblock pageContentHeader1 %}</b></h1>
    <h1 class="w3-xxxlarge w3-text-green"><b>{% block pageContentHeader2 %}{% endblock pageContentHeader2 %}</b></h1>
  </div>


{% endblock pageContentHeader %}


<!----------------------------------Main Content------------------------------------------->
<!----------------------------------------------------------------------------------------->

{#{% block content %}#}
{#    #}
{#{% endblock content %}#}

<!----------------------------------------------------------------------------------------->
