<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Employee Full Salary Report</title>
</head>
<body>
    <h3 style="text-align: right">Date generated  : {{ date }}</h3>
    <h3>Employee ID : {{ empl.id }}</h3>
    <h3>Employee name : {{ empl.name }}</h3>
    <h3>Employee NIC : {{ empl.nic }}</h3><br>
    <hr>
    <br>

    <table class="table-bordered">
        <thead><tr>
                <th scope="col">Year</th>
                <th scope="col">Month</th>
                <th scope="col">Attendance</th>
                <th scope="col">Basic <br>Salary</th>
                <th scope="col">ETF</th>
                <th scope="col">EPF <br> Employee</th>
                <th scope="col">EPF <br> Employer</th>
                <th scope="col">OT <br> Hours</th>
                <th scope="col">OT <br> Amount</th>
                <th scope="col">Total <br> Salary</th>
            </tr></thead>

            {% for emp_sal in emp_salary%}
            <tr>
                <td style="text-align: center"> {{ emp_sal.year }} </td>
                <td style="text-align: center"> {{ emp_sal.month }} </td>
                <td style="text-align: center"> {{ emp_sal.attendance_on_month }} </td>
                <td style="text-align: center"> {{ emp_sal.basic_salary_of_month }} </td>
                <td style="text-align: center"> {{ emp_sal.etf }} </td>
                <td style="text-align: center"> {{ emp_sal.epf_employee }} </td>
                <td style="text-align: center"> {{ emp_sal.epf_employer }} </td>
                <td style="text-align: center"> {{ emp_sal.ot_hours }} </td>
                <td style="text-align: center"> {{ emp_sal.ot_amount_for_month }} </td>
                <td style="text-align: center"> {{ emp_sal.total_salary }} </td>
            </tr>
            {% endfor %}
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>