{% extends 'auctionStocks/auctionStocksMain.html' %}
{% load widget_tweaks %}
{% block contentHeader %}
<html>
<head>
    <p>asdasd</p>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>new User Registration Form</h1>
    <hr/>
    <form method = "POST">
        {% csrf_token %}
    <table border = "1">
        <tr>
            <td>User Name</td>
            <td><input type = "text" placeholder ="Enter Username" name="Username"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type = "text" placeholder ="Enter Email" name="Email"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type = "submit">Registration</td>
        </tr>
    </table>


        <hr/>
    </form>








</body>
</html>
{% endblock %}