{% extends 'auctionStocks/auctionStocksMain.html' %}
{% load widget_tweaks %}
{% block contentHeader %}
<html>
<head>
    <p>asdasd</p>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>new User Registration Form</h1>
    <hr/>
    <form method = "POST" action="/update/update/{{Newuser.id}}">
        {% csrf_token %}
    <table border = "1">
        <tr>
            <td>ID</td>
            <td><input type = "text" placeholder ="Enter Username" name="id" value="{{Newuser.id}}" readonly></td>
        </tr>

        <tr>
            <td>User Name</td>
            <td><input type = "text" placeholder ="Enter Username" name="Username" value="{{Newuser.Username}}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type = "text" placeholder ="Enter Email" name="Email" value="{{Newuser.Email}}"></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>

        <hr/>

            <input type="submit" value="Update"/>
        </form>








</body>
</html>
{% endblock %}