<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">

	<script src="{% static 'js/base.js' %}"></script>
    <title> Kaley Tea </title>
</head>
<body>
    <!-- Side navigation bar start -->
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="sidenav hidescroll">
			<img class="sideNav-logo" src="{% static 'images/logoWhite.png' %}"/>
			{% block sideBar %}

			{% endblock %}
			<a style="margin-top:50px" href="http://127.0.0.1:8000/">Back to HOME</a>
<!--			<p class="copyright" >Copyright © 2021 Kaley Tea Factory of Sri Lanka. <br>All Rights Reserved.</p><br/>-->
		</div>
	</div>
	<!-- Side navigation bar end -->

	<!-- start content -->
	<div class="main">
		<h2 style="color: #324960">Kaley Tea Factory</h2>
		{% block contentHeader %}

		{% endblock %}
	<!-- end page content -->

	</div>
</body>
</html>