<!--Inventory Name-->
<div class="container-fluid py-50 bg-success p-30 rounded">
	   <div class="card-body bg-success">
                <marquee behavior="" direction="">
                    <h3 class="my-4 text-white">Leaf Inventory System Management </h3>
                </marquee>
	   </div>
</div>
<!--End name-->
	
<!--Start Navigation bar-->

<!-------------------------------------------Create Brand Name--------------------------------------------------------->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-2" >
		<a href="http://127.0.0.1:8000/dashboard" class="navbar-brand" style="margin-left:50px"> Inventory System Management </a>

<!----------------------------------------------Create Navigation Bar-------------------------------------------------->
		<button class="navbar-toggler" data-toggle="collapse" data-target="#inventory"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse justify-content-center" id="inventory">
			<ul class="navbar-nav" style="margin-left:200px">
			    <li class="nav-item"><a href="" class="nav-link"> Home </a>
			    <li class="nav-item"><a href="http://127.0.0.1:8000/dashboard" class="nav-link"> Dashboard </a>
				<li class="nav-item"><a href="http://127.0.0.1:8000/login/" class="nav-link"> Login </a>
				<li class="nav-item"><a href="http://127.0.0.1:8000/logout/" class="nav-link"> Logout </a>
			    <li class="nav-item"><a href="http://127.0.0.1:8000/register/" class="nav-link"> Register </a>
				<li class="nav-item"><a href="http://127.0.0.1:8000/profile/" class="nav-link"> Profile </a>
				<li class="nav-item"><a href="http://127.0.0.1:8000/admin/" class="nav-link"> Admin Panel </a>
			</ul>

		</div>
	</nav>
<!----------------------------------------------End Navigation Bar-------------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--End Navigation bar-->
